@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply selection:text-white selection:bg-black/80 text-black;
}

body {
  @apply font-['Quicksand'] bg-white;
}

h1 {
  @apply text-[15px]
}

.button {
  @apply md:cursor-pointer active:scale-[.97] flex gap-2 w-fit items-center bg-black px-2 py-1 rounded-lg;
}

.button.off {
  @apply !opacity-50 !cursor-not-allowed active:!scale-100;
}

.button>.icons {
  @apply stroke-white;
}

.button>h1 {
  @apply font-medium text-white whitespace-nowrap;
}

.card {
  @apply [box-shadow:_0_0_2px_rgb(25,_68,_103)] flex justify-between items-center h-fit gap-6 p-3 w-full rounded-lg border border-black;
}

.card > div > .count {
  @apply text-2xl font-bold;
}

.card > div > .count > .per {
  @apply text-sm;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  /* background-color: #F5F5F5; */
}

::-webkit-scrollbar-thumb {
  border-radius: 0px !important;
  /* background-color: rgb(16 185 129); */
}

img,
image {
  @apply select-none;
}